body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    min-height: 100vh;

    background: linear-gradient(
        135deg,
        #0f172a,
        #1e3a8a,
        #7c3aed
    );

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 900px;
    margin: auto;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

.title {
    text-align: center;
    color: #2c3e50;
}

.score {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #27ae60;
}

.progress-bar {
    width: 100%;
    background: #ddd;
    border-radius: 20px;
    height: 25px;
    overflow: hidden;
}

.progress {
    background: #27ae60;
    height: 100%;
}

.found {
    color: green;
}

.missing {
    color: red;
}

.suggestion {
    color: #2980b9;
}

.center {
    text-align: center;
}

.button {
    display: inline-block;
    background: #3498db;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
}

.upload-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.upload-card {
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255,255,255,0.2);
    padding: 40px;
    width: 650px;
    border-radius: 25px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
    text-align: center;
}

.main-title {
    color: white;
    font-size: 52px;
    font-weight: 800;
    margin-bottom: 10px;
}

.subtitle {
    color: #dbeafe;
    font-size: 18px;
    margin-bottom: 35px;
}

.description {
    color: rgba(255,255,255,0.8);
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 30px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.file-input {
    width: 90%;
    padding: 15px;
    border-radius: 12px;
    background: rgba(255,255,255,0.15);
    color: white;
    cursor: pointer;
}

.analyze-btn {

    background: linear-gradient(
        90deg,
        #06b6d4,
        #8b5cf6
    );

    color: white;
    border: none;
    padding: 15px 35px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.analyze-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.job-description {
    width: 90%;
    height: 180px;
    border-radius: 15px;
    border: none;
    padding: 15px;
    font-size: 15px;
    resize: none;
    outline: none;
}

.features {
    margin-top: 30px;
    color: white;
    text-align: left;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.features p {
    margin: 10px 0;
    font-size: 17px;
}

.section-title {
    color: white;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}